@model RetroLogger5000.Data.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details View for @Model.Title</h2>

<div>
    <h4>Game</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Platform)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Platform)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ReleaseYear)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ReleaseYear)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Publisher)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Publisher)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Developer)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Developer)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Rank)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Rank)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
